body {
    font-size: 24px; /* フォントサイズを調整 */
    background-color: #fff; /* 背景色を変更 */
}

/* ヘッダのスタイル */
h1 {
    color: #008000; /* ヘッダのテキスト色を黄緑に変更 */
}

/* 位置情報と移動距離の表示部分のスタイル */
#locationData, #distance, #timestamp {
    color: #008000; /* テキスト色を黄緑に変更 */
}
